$color_1: #63768D;
$color_2: #6A6A6A;

/*Sidebar CSS starts*/
// .sidebar:not(.collapsed) .close-icon {
//     display: block;
// }
.sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 273px;
	position: fixed;
	top: 0px;
	width: 273px;
	height: 100vh;
	background: #ffffff !important;
	box-shadow: 2px 10px 25px 0px #00000040;
	padding: 0px !important;
	transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
	.nav-link {
		color: $color_1;
		font-size: 13px;
		font-weight: 500;
		line-height: 20px;
		margin-left: 25px;
		padding: 16px 20px;
		transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
		img {
			margin-right: 18px;
		}
	}
	ul {
		border-bottom: 1px solid #E1E1E1;
		margin-top: 45px;
	}
	.nav-link.active {
		background: #FAFBFC;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		color: $color_1;
	}
	.content-title {
		width: 128px;
	}
	.designere {
		h4 {
			font-size: 18px;
			font-weight: 400;
			line-height: 27px;
			color: $color_2;
		}
		table {
			span {
				background: #95ceff;
				width: 42px;
				height: 42px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50px;
			}
			h5 {
				font-size: 14px;
				font-weight: 400;
				color: $color_1;
			}
			p {
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
			}
			small {
				color: $color_1;
				font-size: 13px;
			}
			.designere-content {
				display: grid;
    			grid-template-columns: 35% 65%;
				span {
					color: #fff;
				}

				.color-green {
					background: #19D895;
				}
				.color-ble {
					background: #2196F3;
				}
				.color-yele {
					background: #FFAF00;
				}
				.color-purple {
					background: #C600E4;
				}
			}
			.fw-normal {
				text-align: right;
				color: $color_1;
				margin-top: 22px;
			}
			td {
				padding: 10px 0px;
			}
			margin-top: 30px;
		}
		padding: 23px;
	}
	.logo {
		padding: 13px;
		border-bottom: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;
		box-shadow: 2px 2px 0px 0px #0000000D;
		width: 100%;
		.logo-sm {
			display: none;
		}
		.logo-lg {
			display: block;
		}
	}
	.nav-link.collapsed-link {
		width: 70px;
		overflow: hidden;
		white-space: nowrap;
		margin-left: 0px;
		text-align: center;
		img {
			margin-right: 41px;
			margin-left: 8px;
		}
	} 
	.close-icon {
		display: none;
		width: 16px;
		height: 16px;
		margin-left: 10px; 
		margin-right: 10px; 
		cursor: pointer;
	}
}
.main {
	transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
}
.site-header {
	.navbar-custom {
		transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
	}
	.navbar-custom.expanded-navbar {
		margin-left: 70px;
	}
}
.sidebar.collapsed {
	width: 70px;
	.logo {
		.logo-sm {
			display: block;
			width: 64%;
		}
		.logo-lg {
			display: none;
		}
	}
	.designere {
		h4 {
			display: none;
		}
		padding: 14px;
		table {
			h5 {
				margin-left: 20px;
			}
			.designere-content {
				.designer-info {
					display: none;
				}
				.content-title {
					display: none;
				}
			}
			margin-top: 10px;
			.fw-normal {
				margin: 0px;
			}
		}
		.table-responsive {
			overflow: hidden;
		}
	}
}

.button-toggle-menu {
	cursor: pointer;
}

/*Media Query Starts*/
@media (max-width: 1440px){
    .sidebar{
        width: 273px;
        z-index: 999;
    }
    .sidebar ul {
        margin-top: 20px;
    }
    .sidebar .designere {
        padding: 12px;
    }
    .sidebar .nav-link{
        margin-left: 15px;
        padding: 15px 20px;
    }
    .sidebar .designere table h5{
        font-size: 15px;
    }
    #recent_activities .activity-card .activity-table .view-activity-link td {
        padding: 15px 8px;
    }
    .sidebar .designere table {
        margin-top: 15px;
    }
}
@media (max-width: 768px){
	.sidebar {
		height: 100%;
		overflow: scroll;
    }
}
@media (max-width: 767px){
	.sidebar {
		.logo {
			padding: 11px;
		}
		.close-icon {
			display: block;
		}
	}
	.sidebar.collapsed {
		.logo{
			padding: 8px;
		}
		.close-icon {
			display: none;
		}
    }
    .sidebar{
		ul{
			margin-top: 5px;
			margin-bottom: 5px;
		}
    }
}
/*Media Query Ends*/
