@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-weight: normal;
  font-family: "Poppins";
  color: #000000;
  font-size: 18px;
  line-height: 27px;
  background: #F3F6FD;
}

.container {
  max-width: 1480px;
  padding: 0;
}

p {
  margin-bottom: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

.sub-title {
  color: #6A6A6A;
  font-size: 13px;
  line-height: 20px;
}

.main {
  padding: 25px 25px 0px 25px;
  padding-left: 300px;
}

/*Page Title Section CSS Starts*/
/*Page Title Section CSS Ends*/
/*New Images Section CSS starts*/
/*New Images Section CSS Ends*/
/*Stats Section CSS starts*/
/*Stats Section CSS ends*/
/*Activity Section CSS Start*/
/*Activity Section CSS Ends*/
#page_title {
  padding: 10px 0px 5px 0px;
}
#page_title .page-title-wrapper .page-heading {
  font-size: 20px;
  line-height: 30px;
}
#page_title .page-title-wrapper .update-time {
  font-size: 15px;
  line-height: 22px;
}

#image_section {
  padding: 15px 0px 12px 0px;
}
#image_section .image-card-item {
  padding: 20px 25px 38px 25px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
#image_section img {
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#image_section .image-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}
#image_section .image-description {
  padding: 20px 8px 0px 8px;
}
#image_section .img-section-wrapper {
  padding: 0px 0px 25px 0px;
}
#image_section .img-section-wrapper .img-section-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}

#stats_section .stats-card {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
  padding: 29px;
  border-radius: 7px;
}
#stats_section .stats-card:hover {
  background: linear-gradient(90.17deg, #074CE2 1.68%, #1579FF 98.78%);
}
#stats_section .stats-card:hover .stats-data {
  color: #fff;
}
#stats_section .stats-card:hover .stats-title {
  color: #fff;
}
#stats_section .stats-card:hover .stats-icon {
  filter: brightness(0) invert(1);
}
#stats_section .stats-card .stats-icon {
  margin-right: 12px;
}
#stats_section .stats-card .stats-data {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

#recent_activities .activity-card {
  padding: 40px 25px 0px 25px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
#recent_activities .activity-card .card-header {
  background: #fff;
  padding-bottom: 45px;
}
#recent_activities .activity-card .activity-card-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}
#recent_activities .activity-card .activity-time-col {
  text-align: right;
}
#recent_activities .activity-card .activity-time {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#recent_activities .activity-card .activity-table tr {
  border-bottom: 1px solid #DFDFDF;
}
#recent_activities .activity-card .activity-table tr:hover {
  --bs-table-accent-bg: transparent !important;
}
#recent_activities .activity-card .activity-table td {
  vertical-align: middle;
  padding: 15px 8px;
}
#recent_activities .activity-card .activity-table img {
  margin-right: 30px;
  width: 40px;
}
#recent_activities .activity-card .activity-table .activity-user-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#recent_activities .activity-card .activity-table .view-activity-link {
  border-bottom: 0px;
  border-color: transparent;
}
#recent_activities .activity-card .activity-table .view-activity-link td {
  padding: 20px 8px;
}

.site-header .navbar-custom {
  margin-left: 273px;
  background: #fff;
  z-index: 999;
  position: relative;
}
.site-header .navbar-custom .topbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.0509803922);
}
.site-header .navbar-custom .app-search input::-moz-placeholder {
  color: rgba(106, 106, 106, 0.4196078431);
}
.site-header .navbar-custom .app-search input::placeholder {
  color: rgba(106, 106, 106, 0.4196078431);
}
.site-header .logo-topbar {
  width: 272px;
  text-align: center;
  border-right: 1px solid #e3e3e3;
}
.site-header .nav-link.nav-user {
  display: flex;
  padding: 0px;
  align-items: center;
}
.site-header .account-user-avatar {
  background-image: url(../image/panelicon.png);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 40px;
  margin-right: 11px;
}
.site-header .account-user-avatar span {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffff;
}
.site-header .topbar-menu {
  margin-bottom: 0px;
}
.site-header .topbar-menu li {
  border-left: 1px solid #DCDCDC;
  padding: 9px 0px;
}
.site-header .topbar-menu li .noti-icon-badge {
  background: #FF5050;
  position: absolute;
  top: 15px;
  left: 26px;
  color: #ffffff;
  border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.site-header .topbar-menu li .noti-icon-email {
  background: #C600E4;
  position: absolute;
  top: 8px;
  left: 20px;
  color: #ffffff;
  border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.site-header .topbar-menu .email {
  border: none;
}
.site-header .topbar-menu .dropdown-toggle::after {
  border: none;
  background-image: url(../image/menuicon.png);
  width: 15px;
  background-repeat: no-repeat;
  height: 8px;
  margin-left: 21px;
}
.site-header .button-toggle-menu {
  border: none;
  background: rgba(62, 85, 104, 0);
}
.site-header .app-search .input-group input {
  border: none;
}
.site-header .nav-user h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}
.site-header .nav-user p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #63768D;
}

/*Sidebar CSS starts*/
/*Sidebar CSS Ends*/
.sidebar {
  position: fixed;
  top: 0px;
  width: 273px;
  height: 100vh;
  background: #ffffff !important;
  box-shadow: 2px 10px 25px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 0px !important;
}
.sidebar .nav-link {
  color: #63768D;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 25px;
  padding: 16px 20px;
}
.sidebar .nav-link img {
  margin-right: 18px;
}
.sidebar ul {
  border-bottom: 1px solid #E1E1E1;
  margin-top: 45px;
}
.sidebar .nav-link.active {
  background: #FAFBFC;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #63768D;
}
.sidebar .designere {
  padding: 20px;
}
.sidebar .designere h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #6A6A6A;
}
.sidebar .designere table {
  margin-top: 30px;
}
.sidebar .designere table span {
  background: #95ceff;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.sidebar .designere table h5 {
  font-size: 16px;
  font-weight: 400;
  color: #63768D;
}
.sidebar .designere table p {
  font-size: 13px;
  font-weight: 400;
}
.sidebar .designere table small {
  color: #63768D;
  font-size: 13px;
}
.sidebar .designere table .designere-content span {
  margin-right: 15px;
  width: 25%;
  color: #fff;
}
.sidebar .designere table .designere-content .color-green {
  background: #19D895;
}
.sidebar .designere table .designere-content .color-ble {
  background: #2196F3;
}
.sidebar .designere table .designere-content .color-yele {
  background: #FFAF00;
}
.sidebar .designere table .designere-content .color-purple {
  background: #C600E4;
}
.sidebar .designere table tr:hover {
  --bs-table-accent-bg: transparent !important;
}
.sidebar .designere table td {
  padding: 10px 0px;
}
.sidebar .designere .info-wrapper {
  width: 100%;
}
.sidebar .logo {
  padding: 13px;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.0509803922);
  width: 100%;
  border-right: 1px solid #e3e3e3;
}/*# sourceMappingURL=styles.css.map */