@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-weight: normal;
  font-family: "Poppins";
  color: #000000;
  font-size: 18px;
  line-height: 27px;
  background: #F3F6FD;
}

.container {
  max-width: 1480px;
  padding: 0;
}

p {
  margin-bottom: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

.sub-title {
  color: #6A6A6A;
  font-size: 13px;
  line-height: 20px;
}

.main {
  padding: 25px 25px 0px 25px;
  padding-left: 300px;
}

@media (max-width: 1440px) {
  .main {
    padding-left: 294px;
  }
  #stats_section .stats-card .sub-title {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 15px;
    padding-left: 80px;
  }
  .main.expanded {
    padding-left: 85px;
  }
  #stats_section .stats-card .stats-icon {
    justify-content: center;
    min-height: 28px;
    margin-right: 0px !important;
  }
  #stats_section .stats-card .sub-title {
    text-align: center;
    margin-top: 10px;
  }
  #stats_section .stats-card .stats-data {
    text-align: center;
  }
}
#page_title {
  padding: 10px 0px 5px 0px;
}
#page_title .page-title-wrapper .page-heading {
  font-size: 20px;
  line-height: 30px;
}
#page_title .page-title-wrapper .update-time {
  font-size: 15px;
  line-height: 22px;
}

.main.expanded {
  width: 100%;
  padding-left: 95px;
}

#image_section {
  padding: 15px 0px 12px 0px;
}
#image_section .image-card-item {
  padding: 20px 25px 38px 25px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
#image_section img {
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
#image_section .image-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}
#image_section .image-description {
  padding: 20px 8px 0px 8px;
}
#image_section .img-section-wrapper {
  padding: 0px 0px 25px 0px;
}
#image_section .img-section-wrapper .img-section-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}

#stats_section .stats-card {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
  padding: 29px;
  border-radius: 7px;
}
#stats_section .stats-card:hover {
  background: linear-gradient(90.17deg, #074CE2 1.68%, #1579FF 98.78%);
}
#stats_section .stats-card:hover .stats-data {
  color: #fff;
}
#stats_section .stats-card:hover .stats-title {
  color: #fff;
}
#stats_section .stats-card:hover .stats-icon {
  filter: brightness(0) invert(1);
}
#stats_section .stats-card .stats-icon {
  margin-right: 12px;
}
#stats_section .stats-card .stats-data {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

#recent_activities .activity-card {
  padding: 40px 25px 0px 25px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
#recent_activities .activity-card .card-header {
  background: #fff;
  padding-bottom: 45px;
}
#recent_activities .activity-card .activity-card-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}
#recent_activities .activity-card .activity-time-col {
  text-align: right;
}
#recent_activities .activity-card .activity-time {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#recent_activities .activity-card .activity-table tr {
  border-bottom: 1px solid #DFDFDF;
}
#recent_activities .activity-card .activity-table tr:hover {
  --bs-table-accent-bg: transparent !important;
}
#recent_activities .activity-card .activity-table td {
  vertical-align: middle;
  padding: 15px 8px;
}
#recent_activities .activity-card .activity-table img {
  margin-right: 30px;
  width: 40px;
}
#recent_activities .activity-card .activity-table .activity-user-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#recent_activities .activity-card .activity-table .view-activity-link {
  border-bottom: 0px;
  border-color: transparent;
}
#recent_activities .activity-card .activity-table .view-activity-link td {
  padding: 20px 8px;
}

@media (max-width: 767px) {
  .page-title-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .main.expanded {
    padding-left: 85px;
  }
  #stats_section .stats-card .stats-data {
    line-height: 35px;
  }
}
.site-header .navbar-custom {
  margin-left: 273px;
  background: #fff;
  z-index: 999;
  position: relative;
}
.site-header .navbar-custom .topbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.0509803922);
}
.site-header .navbar-custom .app-search {
  height: 100%;
  border-left: 1px solid #e3e3e3;
  padding-left: 15px;
}
.site-header .navbar-custom .app-search input::-moz-placeholder {
  color: rgba(106, 106, 106, 0.4196078431);
}
.site-header .navbar-custom .app-search input::placeholder {
  color: rgba(106, 106, 106, 0.4196078431);
}
.site-header .navbar-custom .app-search input:focus-visible {
  outline: none;
  border: 0px;
  box-shadow: unset !important;
}
.site-header .navbar-custom .app-search input:focus {
  outline: none;
  border: 0px;
  box-shadow: unset !important;
}
.site-header .navbar-custom .app-search form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.site-header .logo-topbar {
  width: 272px;
  text-align: center;
  border-right: 1px solid #e3e3e3;
}
.site-header .nav-link.nav-user {
  display: flex;
  padding: 0px;
  align-items: center;
}
.site-header .account-user-avatar {
  background-image: url(../image/panelicon.png);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 40px;
  margin-right: 11px;
}
.site-header .account-user-avatar span {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffff;
}
.site-header .topbar-menu {
  margin-bottom: 0px;
}
.site-header .topbar-menu li {
  border-left: 1px solid #DCDCDC;
  padding: 9px 0px;
}
.site-header .topbar-menu li .noti-icon-badge {
  background: #FF5050;
  position: absolute;
  top: 15px;
  left: 26px;
  color: #ffffff;
  border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.site-header .topbar-menu li .noti-icon-email {
  background: #C600E4;
  position: absolute;
  top: 8px;
  left: 20px;
  color: #ffffff;
  border-radius: 50px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.site-header .topbar-menu .email {
  border: none;
}
.site-header .topbar-menu .dropdown-toggle::after {
  border: none;
  background-image: url(../image/menuicon.png);
  width: 15px;
  background-repeat: no-repeat;
  height: 8px;
  margin-left: 21px;
}
.site-header .button-toggle-menu {
  border: none;
  background: rgba(62, 85, 104, 0);
}
.site-header .app-search .input-group input {
  border: none;
}
.site-header .nav-user h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}
.site-header .nav-user p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #63768D;
}

/*Media Query Starts*/
@media (max-width: 1440px) {
  .site-header .navbar-custom {
    margin-left: 273px;
  }
  #stats_section .stats-card .stats-icon img {
    width: 28px;
  }
  #stats_section .stats-card .stats-icon {
    margin-right: 10px;
  }
  #stats_section .stats-card {
    padding: 15px 10px;
  }
  #recent_activities .activity-card .activity-table img {
    margin-right: 20px;
    width: 40px;
  }
  #recent_activities .activity-card {
    padding: 20px 15px 0px 15px;
  }
  #recent_activities .activity-card .card-header {
    padding-bottom: 20px;
  }
  #recent_activities .activity-card .activity-table td {
    padding: 12px 8px;
  }
  #recent_activities .activity-card .activity-table td:nth-child(1) {
    width: 75%;
  }
  #image_section .image-card-item {
    padding: 20px 25px 30px 25px;
  }
  #image_section img {
    height: 200px;
  }
  #recent_activities .activity-card .activity-table .view-activity-link td {
    padding: 15px 8px;
  }
}
@media (max-width: 768px) {
  #stats_section .stats-card .stats-icon {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  #image_section .image-card-item {
    padding: 20px 20px 0px 20px;
  }
  #image_section .image-description {
    padding: 0px 8px 20px 8px;
  }
}
@media (max-width: 767px) {
  .page-title-wrapper {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .topbar-menu {
    padding: 0px;
  }
  .main.expanded {
    padding-left: 80px;
  }
  #recent_activities .activity-card .activity-table td:nth-child(1) {
    width: 72%;
  }
  .dropdown.email, .notification-list {
    width: 50px;
  }
  .site-header .topbar-menu .dropdown-toggle::after {
    margin-left: 3px;
    width: 11px;
    background-size: contain;
  }
  .site-header .topbar-menu .email {
    padding-right: 19px;
  }
  .site-header .account-user-avatar {
    margin-right: 5px;
    width: 28px;
    height: 28px;
    background-size: cover;
  }
  .site-header .account-user-avatar span {
    font-size: 13px;
  }
  .site-header .navbar-custom.expanded-navbar {
    margin-left: 0px;
  }
  .site-header .nav-user-name {
    display: none;
  }
  .site-header .navbar-custom {
    margin-left: 0px;
  }
}
/*Media Query Ends*/
/*Sidebar CSS starts*/
.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 273px;
  position: fixed;
  top: 0px;
  width: 273px;
  height: 100vh;
  background: #ffffff !important;
  box-shadow: 2px 10px 25px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 0px !important;
  transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
}
.sidebar .nav-link {
  color: #63768D;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 25px;
  padding: 16px 20px;
  transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
}
.sidebar .nav-link img {
  margin-right: 18px;
}
.sidebar ul {
  border-bottom: 1px solid #E1E1E1;
  margin-top: 45px;
}
.sidebar .nav-link.active {
  background: #FAFBFC;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #63768D;
}
.sidebar .content-title {
  width: 128px;
}
.sidebar .designere {
  padding: 23px;
}
.sidebar .designere h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #6A6A6A;
}
.sidebar .designere table {
  margin-top: 30px;
}
.sidebar .designere table span {
  background: #95ceff;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.sidebar .designere table h5 {
  font-size: 14px;
  font-weight: 400;
  color: #63768D;
}
.sidebar .designere table p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.sidebar .designere table small {
  color: #63768D;
  font-size: 13px;
}
.sidebar .designere table .designere-content {
  display: grid;
  grid-template-columns: 35% 65%;
}
.sidebar .designere table .designere-content span {
  color: #fff;
}
.sidebar .designere table .designere-content .color-green {
  background: #19D895;
}
.sidebar .designere table .designere-content .color-ble {
  background: #2196F3;
}
.sidebar .designere table .designere-content .color-yele {
  background: #FFAF00;
}
.sidebar .designere table .designere-content .color-purple {
  background: #C600E4;
}
.sidebar .designere table .fw-normal {
  text-align: right;
  color: #63768D;
  margin-top: 22px;
}
.sidebar .designere table td {
  padding: 10px 0px;
}
.sidebar .logo {
  padding: 13px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.0509803922);
  width: 100%;
}
.sidebar .logo .logo-sm {
  display: none;
}
.sidebar .logo .logo-lg {
  display: block;
}
.sidebar .nav-link.collapsed-link {
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0px;
  text-align: center;
}
.sidebar .nav-link.collapsed-link img {
  margin-right: 41px;
  margin-left: 8px;
}
.sidebar .close-icon {
  display: none;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.main {
  transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
}

.site-header .navbar-custom {
  transition: width 0.3s ease, padding-left 0.3s ease, margin-left 0.3s ease;
}
.site-header .navbar-custom.expanded-navbar {
  margin-left: 70px;
}

.sidebar.collapsed {
  width: 70px;
}
.sidebar.collapsed .logo .logo-sm {
  display: block;
  width: 64%;
}
.sidebar.collapsed .logo .logo-lg {
  display: none;
}
.sidebar.collapsed .designere {
  padding: 14px;
}
.sidebar.collapsed .designere h4 {
  display: none;
}
.sidebar.collapsed .designere table {
  margin-top: 10px;
}
.sidebar.collapsed .designere table h5 {
  margin-left: 20px;
}
.sidebar.collapsed .designere table .designere-content .designer-info {
  display: none;
}
.sidebar.collapsed .designere table .designere-content .content-title {
  display: none;
}
.sidebar.collapsed .designere table .fw-normal {
  margin: 0px;
}
.sidebar.collapsed .designere .table-responsive {
  overflow: hidden;
}

.button-toggle-menu {
  cursor: pointer;
}

/*Media Query Starts*/
@media (max-width: 1440px) {
  .sidebar {
    width: 273px;
    z-index: 999;
  }
  .sidebar ul {
    margin-top: 20px;
  }
  .sidebar .designere {
    padding: 12px;
  }
  .sidebar .nav-link {
    margin-left: 15px;
    padding: 15px 20px;
  }
  .sidebar .designere table h5 {
    font-size: 15px;
  }
  #recent_activities .activity-card .activity-table .view-activity-link td {
    padding: 15px 8px;
  }
  .sidebar .designere table {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    height: 100%;
    overflow: scroll;
  }
}
@media (max-width: 767px) {
  .sidebar .logo {
    padding: 11px;
  }
  .sidebar .close-icon {
    display: block;
  }
  .sidebar.collapsed .logo {
    padding: 8px;
  }
  .sidebar.collapsed .close-icon {
    display: none;
  }
  .sidebar ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/*Media Query Ends*//*# sourceMappingURL=styles.css.map */